sentence-transformers
langchain
flask
flask-cors
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain-google-genai
langchain_experimental
huggingface_hub
sentence-transformers
langchain-huggingface

-e .